<nz-layout class="app__layout">
	<nz-sider class="app__sidebar"
						nzCollapsible
						nzWidth="256px"
						nzBreakpoint="md"
						[(nzCollapsed)]="isCollapsed"
						[nzTrigger]="null">
		<div class="app__sidebar-logo">
			<a href="/" target="_self">
				<h1>Money Watch</h1>
			</a>
		</div>
		<ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
			<li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a>Welcome</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a>Monitor</a>
					</li>
					<li nz-menu-item nzMatchRouter>
						<a>Workplace</a>
					</li>
				</ul>
			</li>
			<li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
				<ul>
					<li nz-menu-item nzMatchRouter>
						<a>Basic Form</a>
					</li>
				</ul>
			</li>
		</ul>
	</nz-sider>
	<nz-layout>
		<div class="app__header">
        <span class="app__header-trigger" (click)="toggleSidebar()">
            <i class="app__header-trigger-button"
							 nz-icon
							 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
						></i>
        </span>
				<div class="app__header-user-actions">
					<div class="app__header-language-select">
						<nz-select [(ngModel)]="languages[0]" nzSize="default" nzBorderless>
							<nz-option *ngFor="let option of languages" [nzLabel]="option" [nzValue]="option"></nz-option>
						</nz-select>
					</div>
					<nz-divider nzType="vertical" class="app__header-divider"></nz-divider>
					<button nz-button nzType="text" nz-dropdown [nzDropdownMenu]="userMenu">
						User
						<i nz-icon nzType="down"></i>
					</button>
					<nz-dropdown-menu #userMenu="nzDropdownMenu">
						<ul nz-menu>
							<li nz-menu-item>
								<a>1st item</a>
							</li>
							<li nz-menu-item>
								<a>2nd item</a>
							</li>
							<li nz-menu-item>
								<a>Logout</a>
							</li>
						</ul>
					</nz-dropdown-menu>
				</div>
		</div>
		<nz-content class="app__content">
			<div class="app__content-wrapper">
<!--				<router-outlet></router-outlet>-->
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>
